.notifyContainer {
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
}

.notify {
    box-sizing: border-box;
    height: 2em;
    line-height:2em;
    display:inline-block;
    background: #444;
    padding:0 1em;
    color:#fff;
    border: solid 1px #aaa;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position:relative;
    top:-2em;
    transition: top 0.5s;
}

.show {
    top:-1px;
} 